node_modules/
nodes/*
!nodes/xible
!nodes/store
!nodes/string
!nodes/compare
!nodes/cast
!nodes/if
!nodes/console
!nodes/log.console
!nodes/waitfor
!nodes/filter
!nodes/variable
!nodes/group
!nodes/document
!nodes/conditional
!nodes/boolean
!nodes/object
!nodes/input
ssl/
docs/
package-lock.json
test
