[Unit]
Description=xible
After=network-online.target

[Service]
ExecStart=/usr/bin/xible server start
Restart=always
User=$user
Group=$group
Environment=PATH=/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin
Environment=NODE_ENV=production

[Install]
WantedBy=multi-user.target
