.xible>.describe {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  background-color: rgba(0, 0, 0, 0.9);
  overflow: auto;
}


/* close button */

.xible > .edit > button,
.xible > .describe > button {
  position: sticky;
  float: right;
  display: block;
  right: 0;
  top: 0;
  border: 0;
  background-color: rgba(255, 255, 255, .7);
  padding: 20px;
  -webkit-appearance: none;
  appearance: none;
  font-family: robotothin;
  font-size: 32px;
  line-height: 22px;
  cursor: pointer;
  color: #000;
  border-radius: 0;
  width: auto;
}

.xible > .edit > button {
  position: absolute;
  font-size: 14px;
  line-height: 11px;
  padding: 6px;
  top: 2px;
}

.xible > .edit > button:hover,
.xible > .describe > button:hover {
  background-color: rgba(255, 255, 255, 1);
}


/* node description */

.xible>.describe>p {
  text-align: left;
  padding: 40px;
  margin: 10px;
  color: #fff;
}

.xible>.describe>p.none {
  font-style: italic;
}

.xible > .describe .node {
  left: 50%;
  transform: translateX(-50%) scale(2);
  transform-origin: center 0;
}

.xible > .describe .node .details {
  display: none;
}

.xible > .describe .node > h1 {
  position: relative;
  overflow: visible;
  white-space: break-spaces;
  overflow-wrap: break-word;
}

.xible > .describe .node > h1 wbr {
  display: inline;
}

.xible > .describe .node > h1 > p {
  position: absolute;
  margin: 0;
  left: 0;
  top: 0;
  transform: translateY(-100%);
  color: #ccc;
  font-size: 7px;
  transition: color 0.2s ease-out;
  font-weight: normal;
  font-family: robotolight;
}

.xible>.describe .node:hover>h1>p {
  color: #555;
}

.xible>.describe .node>h1:hover>p {
  color: #fff;
}

.xible>.describe .node .io li p {
  color: #ccc;
  background-color: #000;
  position: absolute;
  top: 0;
  padding: 0 4px;
  margin: 0;
  font-size: 0.5em;
  white-space: normal;
  box-sizing: border-box;
  height: 100%;
  width: 150%;
  overflow: hidden;
  transition: color 0.2s ease-out;
}

.xible>.describe .node .io li p::before, .xible>.describe .node .io li:hover p.overflow::after {
  display: block;
  position: absolute;
  content: "";
  height: 0.5px;
  width: 100%;
  top: 0;
  left: 0;
  background-image: linear-gradient(to right, #333, #333 80%, transparent);
  z-index: -1;
}

.xible>.describe .node .io .input li p::before, .xible>.describe .node .io .input li:hover p.overflow::after {
  right: 0;
  background-image: linear-gradient(to left, #333, #333 80%, transparent);
}

.xible>.describe .node .io .global::after {
  display: none;
}

.xible>.describe .node:hover .io p {
  color: #555;
}

.xible>.describe .node .io li:hover p {
  overflow: visible;
  color: #fff;
  z-index: 2;
}

.xible>.describe .node .io li p.overflow::after {
  position: absolute;
  right: 0;
  bottom: 0;
  background-image: linear-gradient(to right, transparent, #000 40%, #000);
  box-sizing: border-box;
  height: 9px;
  padding: 0 4px 0 6px;
  display: block;
  font-family: awesome;
  content: "\f0d7";
  line-height: 9px;
  font-size: 11px;
  color: #eee;
}

.xible>.describe .node:hover .io li p.overflow::after {
  color: #333;
}

.xible>.describe .node .io li:hover p.overflow {
  height: auto;
}

.xible>.describe .node .io li:hover p.overflow::after {
  top: auto;
  bottom: 0;
}

.xible>.describe .node .input li p {
  text-align: right;
  left: -5px;
  transform: translateX(-100%);
}

.xible>.describe .node .output li p {
  text-align: left;
  right: -5px;
  transform: translateX(100%);
}

.xible>.describe .node .io li p.none {
  font-style: italic;
}


/* type information */

.xible>.describe .node .io li p span, .xible>.describe .node>h1>p span {
  font-style: normal;
  font-weight: bold;
  padding: 1px;
  margin-right: 1px;
  border-radius: 2px;
  background-color: #ccc;
  color: #000;
  line-height: 1em;
  transition: background-color 0.2s ease-out;
}

.xible>.describe .node:hover .io li p span, .xible>.describe .node:hover>h1>p span {
  background-color: #333;
}

.xible>.describe .node .io li:hover p span, .xible>.describe .node>h1:hover>p span {
  background-color: #ccc;
}
