.view.editor {
  flex-direction: column;
}

.view.editor .top {
  display: flex;
  flex-direction: row;
}

.view.editor .top header {
  flex: 0 0 208px;
}

.view.editor > .bottom {
  display: flex;
  flex-direction: row;
  flex: 1 1 auto;
  height: 1px;
}

.view.editor > .bottom.column {
  flex-direction: column;
}

.view.editor > .bottom.column #sub {
  flex-direction: row;
  width: 100%;
  height: 280px;
  order: 1;
  padding: 0;
}

.view.editor > .bottom.column #sub .interactions {
  width: 240px;
  padding: 0 16px;
}

@media (max-width: 1023px) and (min-width: 1px) {
  .view.editor .top header {
    flex: 0 0 148px;
  }

  .view.editor > .bottom.column #sub .interactions {
    width: 180px;
  }
}

.view.editor > .bottom.column #sub .interactions .editor.buttons button {
  padding: 8px 0;
}

.view.editor > .bottom.column #sub .interactions .editor.buttons button::before {
  display: inline;
  margin: 0 6px 0 0;
}

.view.editor > .bottom #sub .results {
  flex: 1 1 1px;
  display: flex;
  flex-direction: column;
  min-height: 1px;
}

.dockSide {
  font-size: 13px;
  display: flex;
  column-gap: 6px;
  align-items: center;
  margin: 6px 0;
}

.dockSide ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  column-gap: 6px;
  row-gap: 6px;
}

.dockSide li {
  margin: 0;
  padding: 0;
}

.dockSide button {
  display: flex;
  background-color: transparent;
  margin: 0;
  padding: 0;
  border: 0;
}

.dockSide button path {
  fill: #ddd;
}

.view.editor > .bottom:not(.column) .dockSide #dockSideLeftButton path {
  fill: #45679E;
}

.view.editor > .bottom.column .dockSide #dockSideBottomButton path {
  fill: #45679E;
}

.view.editor > .bottom.column #sub .results {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  min-width: 1px;
}

.view.editor > .bottom.column #sub .results > section {
  flex: 1 1 1px;
}

.view.editor > .bottom #sub .results .stats {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.view.editor > .bottom #sub .results .stats > .chart {
  height: 1px;
  flex: 1 1 1px;
  min-width: 1px;
}

.view.editor > .bottom.column #sub .results .stats {
  display: flex;
  flex-direction: row;
}

.view.editor > .bottom.column #sub .results .stats > .chart {
  height: 100%;
  margin: 0 16px;
}

.view.editor > .bottom.column #flowEditorHolder {
  width: auto;
}

#flowEditorHolder {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  width: 1px;
  position: relative;
}

#flowEditorHolder #snapConfiguration {
  position: absolute;
  left: 10px;
  bottom: 10px;
  z-index: 100;
  padding: 0 4px 0 0;
  margin: 0;
  opacity: 0.4;
  background-color: #181818;
  box-shadow: 0 0 6px 0 #000;
  border: 1px solid #000;
  transition: opacity ease .2s;
}

#flowEditorHolder #snapConfiguration:hover {
  opacity: 0.9;
}

#flowEditorHolder #snapConfiguration label {
  display: flex;
  align-items: center;
}

#flowEditorHolder #snapConfiguration span {
  float: left;
  margin-right: 10px;
}

#flowEditorHolder .zoomButtons {
  position: absolute;
  right: 10px;
  bottom: 10px;
  z-index: 1;
  padding: 0;
  margin: 0;
  font-size: 1.4em;
  opacity: 0.4;
  background-color: #181818;
  box-shadow: 0 0 6px 0 #000;
  border: 1px solid #000;
  border-radius: 6px;
  font-family: dripicons;
  transition: opacity ease .2s;
}

#flowEditorHolder .zoomButtons:hover {
  opacity: 0.9;
}

#flowEditorHolder .zoomButtons button {
  -webkit-appearance: none;
  appearance: none;
  margin: 0;
  padding: 2px 4px;
  width: auto;
  min-width: 20px;
  border: none;
  border-right: 1px solid #000;
  background-color: inherit;
  color: #ccc;
  font-size: inherit;
  cursor: pointer;
  font-family: inherit;
  display: block;
  float: left;
  border-radius: 0;
}

#flowEditorHolder .zoomButtons button:first-child {
  border-radius: 6px 0 0 6px;
}

#flowEditorHolder .zoomButtons button:last-child {
  border-right: none;
  border-radius: 0 6px 6px 0;
}

#flowEditorHolder .zoomButtons button:hover {
  background-color: #282828;
}

#flowEditorHolder .zoomButtons button:active,
#flowEditorHolder .zoomButtons button:focus {
  outline: 0;
}

#log {
  display: flex;
  flex-direction: column;
  height: 100%;
  flex-shrink: 1;
}

#log > form {
  flex-grow: 0;
  padding: 0;
}

#log button {
  display: inline;
  width: auto;
  margin: 4px;
  padding: 6px;
  min-width: 1px;
}

#log ul {
  overflow-x: hidden;
  overflow-y: scroll;
  height: 100%;
  position: relative;
  font-family: 'Courier New', Courier, monospace;
}

#log ul:empty::after {
  display: block;
  content: "...";
  position: absolute;
  top: 20%;
  font-style: italic;
  width: 100%;
  text-align: center;
  color: #bbb;
}

#log ul::-webkit-scrollbar {
  width: 4px;
  background-color: #000;
}

#log ul::-webkit-scrollbar-thumb {
  width: 4px;
  background-color: #282828;
}

#log ul::-webkit-scrollbar-thumb:hover {
  width: 4px;
  background-color: #383838;
}

#sub #log li {
  border-bottom: 1px solid #444;
  color: #eee;
  font-weight: 400;
  white-space: pre-wrap;
}

#sub #log li:last-child {
  border: 0;
}

#sub #log li .date {
  display: block;
  color: #bbb;
  margin-right: 5px;
}

#sub #log li::before {
  display: block;
  content: '';
  margin: 1px 6px 1px 2px;
  width: 9px;
  height: 9px;
  border-radius: 3px;
  background-color: silver;
  float: left;
}

#sub #log li.green::before {
  background-color: lime;
}

#sub #log li.blue::before {
  background-color: darkturquoise;
}

#sub #log li.red::before {
  background-color: red;
}

#sub #log li.orange::before {
  background-color: darkorange;
}

.view.editor > .bottom.column #sub #log ul {
  margin-right: 8px;
}

#heapUsed::before {
  background-color: rgb(230, 74, 107);
}

#heapTotal::before {
  background-color: rgb(29, 137, 210);
}

#rss::before {
  background-color: rgb(230, 181, 61);
}

#cpu::before {
  background-color: rgb(50, 167, 167);
}

#delay::before {
  background-color: purple;
}

.editor.buttons button::before {
  font-family: awesome;
  display: block;
  content: "\f04b";
  margin-bottom: 6px;
}

#xibleFlowDeployButton {
  flex: 0 1 100%;
}

#xibleFlowStartButton {
  clear: left;
}

#xibleFlowDeployButton::before {
  content: "\f063";
}

#xibleFlowStartButton::before {
  content: "\f04b";
}

#xibleFlowStopButton::before {
  content: "\f04d";
}

#xibleFlowSaveButton::before {
  content: "\f019";
}

#xibleFlowDeleteButton::before {
  content: "\f014";
}

@media (max-height: 820px) and (min-height: 1px) {
  .editor.buttons button::before {
    display: inline;
    margin: 0 6px 0 0;
  }
}

@media (max-width: 1023px) and (min-width: 1px) and (max-height: 820px) {
  .editor.buttons button::before {
    display: none;
  }
}

.nodeList {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.xible {
  box-shadow: 0 0 6px 0 rgba(0, 0, 0, 1);
  border-top-left-radius: 4px;
  position: relative;
  flex: 1 1 100%;
  overflow: hidden;
  background-color: #292929;
  background-size: 50px 50px;
  background-image: linear-gradient(0deg, transparent 24%, rgba(255, 255, 255, .05) 25%, rgba(255, 255, 255, .05) 26%, transparent 27%, transparent 74%, rgba(255, 255, 255, .05) 75%, rgba(255, 255, 255, .05) 76%, transparent 77%, transparent), linear-gradient(90deg, transparent 24%, rgba(255, 255, 255, .05) 25%, rgba(255, 255, 255, .05) 26%, transparent 27%, transparent 74%, rgba(255, 255, 255, .05) 75%, rgba(255, 255, 255, .05) 76%, transparent 77%, transparent);
}

.xible.panning {
  cursor: all-scroll;
}

.xible.panning * {
  cursor: all-scroll !important;
}


/* area selector */

.xible .area {
  position: absolute;
  top: 0;
  left: 0;
  border: 2px solid #45679E;
  background-color: rgba(255, 255, 255, 0.07);
  z-index: 10;
}

.xible .wrapper {
  width: 100%;
  height: 100%;
}

.xible .editor {
  transform-origin: 0 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}


/* double click to add new node */


/* .xible:has(.editor:empty)::before { */

.xible .editor:empty::before {
  display: block;
  text-align: center;
  content: "Click the \"+\" button in the left top corner to create a new flow.";
  white-space: pre;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.xible[data-flow] .editor:empty::before {
  text-align: center;
  content: "Double click anywhere on the canvas to add a node.\AYou may want to start with a \"xible.flow.on-start\" node.\A\AHold down the scroll wheel to move around.\A Alternatively hold down shift and the left mouse button to pan around.";
}

.xible .editor>.connector {
  z-index: 1;
  display: block;
  position: absolute;
  -webkit-filter: drop-shadow(0 0 1px #000) drop-shadow(0 0 2px #000);
  filter: drop-shadow(0 0 1px #000) drop-shadow(0 0 2px #000);
  pointer-events: none;
}

.xible .editor>.connector.global {
  z-index: 2;
}

.xible .editor>.connector.global.highlight {
  z-index: 3;
}

.xible .editor>.connector>path {
  stroke: #aaa;
  stroke-width: 3px;
  fill: none;
  pointer-events: all;
}

.xible .editor>.connector>path.trigger {
  stroke: #fff;
}

.xible .editor>.connector.global>path {
  stroke-width: 20px;
  opacity: 0.4;
}

.xible .editor>.connector.global.highlight>path {
  opacity: 0.8;
}

/*
.xible .editor>.connector.selected {
  z-index:2;
}
*/

.xible .editor>.connector.selected>path {
  stroke: gold;
}

.xible .editor>.connector.nodirect {
  opacity: 0.1;
}

.xible .editor>.connector.splice>path {
  stroke-dasharray: 10, 10;
}

.xible .node {
  display: flex;
  flex-direction: column;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.6);
  position: absolute;
  background-color: rgb(30, 30, 30);
  width: 200px;
  min-height: 10px;
  border-radius: 6px;
  color: #fff;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  z-index: 4;
  border: 2px solid #000;
  text-align: center;
}

.xible .node.fail {
  border: 2px solid #f00;
  background-color: rgba(255, 0, 0, 0.3);
  box-shadow: 0 0 10px 4px rgba(255, 0, 0, 0.4);
}

.xible .node.splice {
  background-color: rgba(30, 30, 30, 0.6);
}

.xible .node.splice * {
  opacity: 0.6;
}

.xible .node:hover {
  z-index: 6;
}

.xible .node.selected {
  border-color: gold;
  z-index: 5;
}

.xible .node.nodirect {
  opacity: 0.2;
}

.xible .node .details {
  z-index: 1;
  list-style: none;
  display: none;
  position: absolute;
  top: 4px;
  right: 4px;
  border-radius: 4px;
  transform: translate(50%, -100%);
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.6);
  background-color: rgb(30, 30, 30);
  margin: 0;
  padding: 0;
  border: 1px solid #000;
  font-family: awesome;
  font-size: 0.9em;
}

.xible .node .details button {
  font-family: inherit;
  margin: 0;
  border-radius: 0;
  border: 0;
  background-color: transparent;
  padding: 4px;
  min-width: 24px;
  text-align: center;
}

.xible .node .details button:hover {
  background-color: rgb(50, 50, 50);
}

.xible .node .details button.edit {
  font-size: 0.9em;
}

.xible .editor .node:hover .details,
.xible .editor .node.selected .details {
  display: flex;
}

.xible .node > h1 {
  font-family: 'robotolight';
  font-size: 1em;
  font-weight: bold;
  background-color: #373737;
  margin: 0;
  padding: 2px;
  white-space: nowrap;
  text-overflow: ellipsis;
  cursor: pointer;
  overflow: hidden;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

.xible .node > h1 wbr {
  display: none;
}

.xible .node.fail > h1 {
  background-color: rgba(255, 0, 0, 0.3);
}

.xible .node > .io {
  font-size: 0.9em;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

.xible .node > .io > ul {
  width: 50%;
  margin: 0;
  padding: 0;
  list-style: none;
  min-height: 10px;
  box-sizing: border-box;
  float: left;
  display: block;
}

.xible .node>.io > ul.input {
  text-align: left;
}

.xible .node>.io > ul.output {
  top: 0;
  text-align: right;
}

.xible .node>.io > ul > li {
  display: block;
  padding: 0 2px;
  border-width: 0;
  cursor: default;
  white-space: nowrap;
  position: relative;
}

.xible .node>.io > ul > li > div {
  overflow: hidden;
  text-overflow: ellipsis;
}

.xible .node>.io>.input>li {
  border-left: 3px solid #000;
}

.xible .node>.io>.output>li {
  border-right: 3px solid #000;
}

.xible .node>.io>ul>.global::after {
  display: block;
  content: "";
  width: 30px;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  transform: translateX(35px);
  background-image: linear-gradient(to right, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0));
  pointer-events: none;
}

.xible .node>.io>.input>.global::after {
  left: 0;
  right: auto;
  transform: translateX(-35px);
  background-image: linear-gradient(to left, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0));
}

.xible .node>.io>ul>.trigger {
  border-color: white;
}

.xible .node > .content {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  width: 100%;
  padding: 3px 6px 6px;
  clear: left;
  position: relative;
  text-align: left;
  /* overflow: hidden; */
}

/*
.xible .node>.content {
  padding: 3px 6px 6px;
}

.xible .node>.content:has(> [style*="display:none"]) { {
  display:none;
}
*/


/*
.xible .node>.content>[style*="none"] + :not([style*="none"]) {
  margin-bottom:6px;
}
*/

.xible .node>.statuses, .xible .node>.tracker {
  box-sizing: border-box;
  position: absolute;
  color: #fff;
  width: 100%;
  font-size: 0.9em;
  text-align: left;
}

.xible .node>.tracker {
  top: 0;
  padding: 2px;
  margin: -1px 0 0 0;
  overflow: hidden;
  transform: translatey(-100%);
  background-image: linear-gradient(to top, rgba(0, 0, 0, .3), rgba(0, 0, 0, .3) 70%, transparent);
}

.xible .node>.statuses {
  top: 100%;
  padding: 0;
  margin: 1px 0 0 0;
  list-style-type: none;
}

.xible .node>.statuses>li {
  padding: 2px;
  display: block;
  overflow: hidden;
  background-color: rgba(0, 0, 0, .3);
  border-bottom: 1px solid #444;
  box-sizing: border-box;
  white-space: pre;
}

.xible .node>.statuses>li.bar>.holder {
  margin: 2px;
  padding: 1px;
  box-sizing: border-box;
  width: calc( 100% - 4px);
  height: 4px;
  background-color: rgba(0, 0, 0, .6);
  border-radius: 4px;
}

.xible .node>.statuses>li.bar>.holder>div {
  background-color: #00ff00;
  box-sizing: border-box;
  height: 2px;
  border-radius: 2px;
  width: 0;
}

.xible .node>.statuses>li:last-child {
  border-bottom: none;
  background-color: transparent;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, .3), rgba(0, 0, 0, .3) 70%, transparent);
}

.xible .node>.statuses>li:not(.bar)::before, .xible .node>.tracker::before {
  display: block;
  content: '';
  margin: 3px 8px 2px 2px;
  width: 10px;
  height: 10px;
  border-radius: 3px;
  background-color: silver;
  float: left;
}

.xible .node>.statuses>li.green:not(.bar)::before, .xible .node>.tracker.green::before {
  background-color: lime;
}

.xible .node>.statuses>li.blue:not(.bar)::before, .xible .node>.tracker.blue::before {
  background-color: darkturquoise;
}

.xible .node>.statuses>li.red:not(.bar)::before, .xible .node>.tracker.red::before {
  background-color: red;
}

.xible .node>.statuses>li.orange:not(.bar)::before, .xible .node>.tracker.orange::before {
  background-color: darkorange;
}
