.flowList {
	width: 100%;
	margin: 0;
	padding: 0;
	color: #fff;
	font-size: 13px;
	font-weight: normal;
	display: flex;
	position: relative;
}

.flowList li {
	display: block;
	box-sizing: border-box;
	text-align: center;
	min-width: 0;
	flex: 0 1 auto;
	cursor: pointer;
	position: relative;
	border-left: 1px solid #000;
}

.flowList li a {
	display: block;
	box-sizing: border-box;
	padding: 12px 8px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	height: 100%;
	background-color: inherit;
	text-decoration: none;
}

.flowList li.add {
	flex: 0 0 auto;
}

.flowList li.notRunnable a {
	color: red;
}

.flowList li.initializing a::before, .flowList li.started a::before, .flowList li.stopping a::before, .flowList li.starting a::before {
	content: "";
	position: absolute;
	bottom: 0;
	left: 0;
	display: block;
	height: 7px;
	width: 100%;
	background-color: inherit;
	border-bottom: 2px solid lime;
	z-index: 1;
}

.flowList li.started.direct a::before {
	border-bottom-color: #ddd;
}

.flowList li.stopping a::before, .flowList li.starting a::before, .flowList li.initializing a::before {
	border-bottom-color: darkorange;
}
/*
.flowList li.initialized a::before {
	border-bottom-color: purple;
}
*/
.flowList li.open {
	background-color: #45679E;
	z-index: 1;
}

.flowList li.open:hover {
	background-color: #5b7cb3;
}

.flowList li.open::before {
	content: "";
	width: 11px;
	height: 11px;
	background-color: inherit;
	position: absolute;
	left: 50%;
	bottom: -8px;
	transform: rotate(45deg) translatex(-50%);
}

.flowList li.started.open::before {
	background-color: lime;
}

.flowList li.started.open.direct::before {
	background-color: #ddd;
}
/*
.flowList li.initialized.open::before {
	background-color: purple;
}
*/
.flowList li.stopping.open::before, .flowList li.starting.open::before, .flowList li.initializing.open::before {
	background-color: darkorange;
}

.flowList li:not(.open):hover {
	background-image: linear-gradient(to top, #282828, transparent 80%);
}
