.flowList {
	width: 100%;
	margin: 0;
	padding: 0;
	color: #fff;
	font-size: 13px;
	font-weight: normal;
}

.flowList li {
	display: block;
	float: left;
	box-sizing: border-box;
	max-width: 180px;
	cursor: pointer;
	/* 	border-bottom: 2px solid #333; */
	position: relative;
	border-radius: 4px;
}

.flowList li a {
	display: block;
	box-sizing: border-box;
	width: 100%;
	padding: 8px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.flowList li.notRunnable {
	color: red;
	/* border-bottom: 2px solid red; */
}

.flowList li.started {
	/* border-bottom: 2px solid Lime; */
}

.flowList li.stopping, .flowList li.starting {
	/* border-bottom: 2px solid darkorange; */
}

.flowList li.open {
	background-color: #45679E;
	z-index: 1;
}

.flowList li.open::after {
	content: "";
	width: 8px;
	height: 8px;
	background-color: inherit;
	position: absolute;
	left: 50%;
	bottom: -7px;
	transform: rotate(45deg) translatex(-50%);
}
