.flowList {
	width: 100%;
	margin: 0;
	padding: 0;
	color: #fff;
	font-size: 13px;
	font-weight: normal;
	display: flex;
	position: relative;
}

.flowList li {
	display: block;
	box-sizing: border-box;
	text-align: center;
	min-width: 0;
	flex: 0 1 auto;
	cursor: pointer;
	position: relative;
	border-left: 1px solid #000;
	color: #eee;
}

.flowList li a {
	display: block;
	box-sizing: border-box;
	padding: 12px 8px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	height: 100%;
	background-color: inherit;
	text-decoration: none;
	position: relative;
}

.flowList li.add {
	flex: 0 0 auto;
}

.flowList li.notRunnable a {
	color: red;
}

.flowList li .instance-count {
	display: none;
	position: absolute;
	bottom: -20px;
	left: 50%;
	transform: translatex(-50%);
	padding: 2px 3px;
	background-color: #45679E;
	border-radius: 4px;
	z-index: 1;
	white-space: nowrap;
}

.flowList li.open .instance-count {
	bottom: -26px;
}

.flowList li .instance-count::after {
	content: " instances";
	display: inline;
}

.flowList li:hover .instance-count {
	display: block;
}

.flowList ul.states {
	position: absolute;
	left: 0;
	bottom: 0;
	display: flex;
	width: 100%;
	list-style: none;
	margin: 0;
	padding: 0;
	flex-direction: row;
	height: 2px;
	overflow: hidden;
}

.flowList ul.states li {
	flex-grow: 1;
	flex-shrink: 1;
	width: 100%;
	border: none;
}

.flowList ul.states li {
	display: block;
	width: 100%;
	height: 2px;
	background-color: #000;
	z-index: 1;
}

.flowList ul.states li.state-5 {
	background-color: lime;
}

.flowList ul.states li.state-5.directed {
	background-color: #ddd;
}

.flowList ul.states li.state-1,
.flowList ul.states li.state-2,
.flowList ul.states li.state-4 {
	background-color: darkorange;
}
/*
.flowList ul.states li.state-3 {
	background-color: purple;
}
*/
.flowList li.open {
	background-color: #45679E;
	z-index: 1;
}

.flowList li.open:hover {
	background-color: #5b7cb3;
}

.flowList li.open::before {
	content: "";
	width: 11px;
	height: 11px;
	background-color: inherit;
	position: absolute;
	left: 50%;
	bottom: -8px;
	transform: rotate(45deg) translatex(-50%);
}

.flowList li:not(.open):hover {
	background-image: linear-gradient(to top, #323232, transparent 80%);
}
