#xibleFlowCreateButton::before {
  font-family: awesome;
	display: block;
	margin-bottom: 6px;
	content: "\f067";
}

#flowsTable {
  width: 100%;
  border-spacing: 0;
  font-size: 0.7em;
  table-layout: fixed;
}

#flowsTable tr {
  height: 56px;
}

#flowsTable tr.instances {
  height: auto;
}

#flowsTable th {
  padding: 0 8px;
  text-align: left;
}

#flowsTable td {
  border-top: 1px solid #222;
  padding: 0 8px;
  box-sizing: border-box;
}

#flowsTable tr.expand, #flowsTable tr.instances {
  background-color: #333;
}

#flowsTable tr.instances td {
  border-top: none;
}

#flowsTable .instance-count {
  text-align: right;
}

#flowsTable ul.instances, #flowsTable ul.timing, #flowsTable ul.stats {
  display: flex;
  flex-direction: row;
  font-size: 1em;
  list-style: none;
  margin: 0;
  padding: 0;
  flex-wrap: wrap;
}

#flowsTable ul.stats label {
  font-size: 0.7em;
}

#flowsTable ul.instances>li {
  display: block;
  box-sizing: border-box;
  width: 25%;
  border-right: 1px solid #222;
  padding: 6px;
}

@media (max-width: 1279px) and (min-height: 1px) {
  #flowsTable ul.instances>li {
    width: 33.3%;
  }
}

@media (max-width: 959px) and (min-height: 1px) {
  #flowsTable ul.instances>li {
    width: 50%;
  }
}

@media (max-width: 719px) and (min-height: 1px) {
  #flowsTable ul.instances>li {
    width: 100%;
  }
}

#flowsTable ul.timing {
  position: relative;
}

#flowsTable ul.timing>li {
  display: block;
  box-sizing: border-box;
  width: 33.3%;
  border-right: 1px solid #222;
  padding: 6px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

#flowsTable ul.timing>li.startDate:hover {
  position: absolute;
  overflow: visible;
  width: 100%;
  background-color: #333;
  text-align: center;
  border-right: none;
}

#flowsTable ul.timing>li:last-child, #flowsTable ul.stats>li:last-child {
  border-right: none;
}

#flowsTable ul.stats>li {
  display: block;
  box-sizing: border-box;
  width: 33.3%;
  border-right: 1px solid #222;
  padding: 6px;
}

td.state>ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  font-size: inherit;
  padding: 0;
  margin: 0;
  overflow: hidden;
  flex-wrap: wrap;
}

td.state>ul>li {
  display: block;
  width: 12px;
  height: 12px;
  margin: 0;
  padding: 0;
  border: 1px solid #292929;
  border-width: 0 1px 1px 0;
  color: transparent;
  opacity: 0.7;
  cursor: default;
}

td.state>ul>li.state-0, .state.state-0 {
  background-color: black;
}

td.state>ul>li.state-1, .state.state-1,
td.state>ul>li.state-2, .state.state-2,
td.state>ul>li.state-4, .state.state-4 {
  background-color: darkorange;
}

td.state>ul>li.state-3, .state.state-3 {
  background-color: purple;
}

td.state>ul>li.state-5 {
  background-color: lime;
}

.state.state-5 {
  background-color: limegreen;
}

td.state>ul>li.state-5.directed,
.state.state-5.directed {
  background-color: #ddd;
}

td.state>ul>li.error,
.state.error {
  background-color: #c00;
}


ul.instances button {
  float: right;
  margin-right: 0;
}

ul.instances .state {
  padding: 4px 6px;
  border-radius: 6px;
  color: #000;
  text-align: center;
  overflow: hidden;
}

ul.instances .state.state-3,
ul.instances .state.state-0 {
  color: #ccc;
}

table button {
  display: inline;
  width: auto;
  border: none;
  padding: 4px 6px;
  margin: 0 4px;
  cursor: pointer;
}

#flowsTable th.instances {
  text-align: right;
}

#flowsTable .actions {
  text-align: right;
}

#flowsTable td.actions {
  padding: 0 8px;
}
