input,
button,
select,
textarea {
  box-sizing: border-box;
  border: 1px solid #111;
  display: block;
  background-color: #3E3E3E;
  border-radius: 6px;
  color: #fff;
  font-size: 1em;
  width: 100%;
  font-weight: normal;
  font-family: robotothin;
  padding: 3px;
  margin: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  position: relative;
}

select {
   background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23CCCCCC%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E');
   background-repeat: no-repeat, repeat;
   background-position: right .4em top 50%, 0 0;
   background-size: .65em auto;
}

select::-ms-expand {
  display: none;
}

input:focus, select:focus {
  outline: none;
  border: 2px solid #45679E;
  padding: 2px;
}

input:disabled,
textarea:disabled {
  color: #999;
}

/*
input:invalid {
  border-color: #dd0000;
}
*/

button {
  padding: 3px;
  border: 2px solid #000;
  border-width: 0 0 2px 0;
  background-color: #45679E;
  cursor: pointer;
  text-align: left;
  margin-bottom: 3px;
}

button:hover,
button:focus {
  outline: none;
  background-color: #5b7cb3;
}

button:active {
  outline: none;
  border-width: 2px 0 0 0;
  border-color: rgb(30, 30, 30);
  background-color: #31599b;
}

button:disabled {
  outline: none;
  border-width: 2px 0 0 0;
  border-color: rgb(30, 30, 30);
  background-color: rgb(60, 60, 60);
  color: rgb(130, 130, 130);
  cursor: default;
}

input[type="checkbox"] {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
}

input[type="checkbox"]~span {
  cursor: pointer;
  vertical-align: bottom;
  box-sizing: border-box;
  display: inline-block;
  background-color: #3E3E3E;
  border: 2px solid #3E3E3E;
  width: 40px;
  height: 27px;
  position: relative;
  border-radius: 6px;
  float: right;
  top: 0;
  right: 0;
  opacity: 1;
  background-image: none;
  box-shadow: none;
  transform: initial;
}

input[type="checkbox"]~span::before {
  position: absolute;
  box-sizing: border-box;
  display: block;
  content: "";
  left: 0;
  top: 0;
  right: auto;
  width: 20px;
  height: 100%;
  background-color: #45679E;
  border: 2px solid #111;
  border-width: 0 0 1px 0;
  border-radius: 6px;
}

input[type="checkbox"]:checked~span::before {
  left: auto;
  right: 0;
}

input[type="checkbox"]~span:hover::before {
  background-color: #5b7cb3;
}

input[type="checkbox"]:focus~span::before {
  background-color: #5b7cb3;
}
