@font-face {
	font-family: 'robotothin';
	src: url('../fonts/Roboto-Thin.ttf') format('truetype');
}

@font-face {
	font-family: 'robotolight';
	src: url('../fonts/Roboto-Light.ttf') format('truetype');
}

@font-face {
	font-family: 'robotobold';
	src: url('../fonts/Roboto-Bold.ttf') format('truetype');
}

@font-face {
	font-family: 'awesome';
	src: url('../fonts/fontawesome-webfont.ttf') format('truetype');
}

@font-face {
	font-family: 'dripicons';
	src: url('../fonts/dripicons-v2.ttf') format('truetype');
}

html, body {
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: robotolight;
	font-size: 22px;
}

body {
	display: flex;
}

.loading {
	position: relative;
}

.loading::after {
	display: block;
	height: 5px;
	width: 10px;
	max-width: 100%;
	background-color: #ddd;
	content: "";
	position: absolute;
	bottom: 0;
	left: 0;
	animation: loading 2s ease 0s infinite normal none running;
	z-index: 1;
}

@keyframes loading {
	0% {
		width: 0;
		left: 0;
	}
	10% {
		width: 10px;
		left: 0;
	}
	50% {
		width: 50px;
		left: calc(50% - 20px);
	}
	90% {
		width: 10px;
		left: calc(100% - 10px);
	}
	100% {
		width: 0;
		left: calc(100%);
	}
}

nav {
	box-sizing: border-box;
	overflow: hidden;
	flex: 0 0 auto;
}

nav.open {
	width: auto;
}

nav>ul {
	list-style: none;
	margin: 0;
	padding: 0;
	background-color: #eee;
	color: #666;
	width: 100px;
	height: 100%;
	position: relative;
}

nav>ul::before {
	content: "";
	position: absolute;
	height: 100%;
	width: 1px;
	right: 1px;
	top: 0;
	background-color: #ccc;
	z-index: 1;
}

nav>ul>li {
	height: 100px;
	width: 100px;
	font-weight: bold;
	position: relative;
	z-index: 2;
}

nav>ul>li>a {
	text-decoration: none;
	width: 100%;
	height: 100%;
	box-sizing: border-box;
	color: inherit;
	transition: background-color ease-out .3s, color ease .2s;
	font-size: 0.6em;
	letter-spacing: 1px;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

nav>ul>li>a:hover {
	color: #fff;
	background-color: #5b7cb3;
}

nav>ul>li>a:focus, nav>ul>li>a:target, nav>ul>li>a.view {
	outline: 0;
	color: #fff;
	background-color: #45679E;
}

nav>ul>li>a>span {
	font-weight: normal;
	font-size: 2.8em;
	font-family: dripicons;
	margin-bottom: 6px;
}

nav>ul>li:last-child>a>span {
	transform: rotate(90deg) translatey(2px);
}

#sub {
	font-family: arial;
	box-shadow: inset 6px 0 6px -6px rgba(0, 0, 0, 1);
	width: 240px;
	box-sizing: border-box;
	overflow-x: hidden;
	overflow-y: auto;
	position: relative;
	padding: 10px 16px;
	height: 100%;
	flex-shrink: 0;
}

#sub section {
	position: relative;
	margin: 0;
	padding: 22px 0;
	overflow: hidden;
	box-sizing: border-box;
	border-bottom: 1px solid #282828;
	font-size: 0.6em;
}

#sub p {
	margin: 12px 5px;
	font-size: 0.6em;
}

#sub p:first-of-type {
	margin-bottom: 0;
}

#sub section:first-of-type {
	padding-top: 12px;
}

#sub section:last-child {
	border-bottom: none;
}

#sub section>h1 {
	box-sizing: border-box;
	padding: 8px 10px;
	color: #ddd;
	font-size: 1.2em;
	margin: 0;
}

#sub section>ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

#sub section>ul>li {
	margin: 0;
	padding: 2px 6px;
	font-weight: bold;
	color: #aaa;
}

#sub section>ul>li>a {
	padding: 4px;
	display: block;
	color: inherit;
	text-decoration: none;
	width: 100%;
	height: 100%;
	border-radius: 3px;
	box-sizing: border-box;
}

#sub section>ul>li>a:active, #sub section>ul>li>a.view {
	background-color: #272727;
	color: #ddd;
}

#sub section>ul>li>a:hover {
	background-color: #333;
	text-decoration: underline;
	color: #ddd;
}

.view {
	display: flex;
	height: 100%;
}

header {
	font-family: robotothin;
	font-weight: normal;
	color: gold;
	padding: 0;
	margin: 10px 16px;
	text-shadow: 0 1px 0 #000;
}

header span {
	color: #aaa;
}

#sub header {
	margin: 0;
}
