.inner {
	box-shadow: 0 0 6px 0 rgba(0, 0, 0, 1);
	position: relative;
	flex: 1 1 100%;
	overflow: hidden;
	background-color: #292929;
	background-size: 50px 50px;
	flex: 1 1 auto;
	width: 1px;
	padding: 10px 16px;
	overflow: auto;
}

.inner>:first-child, .inner>.view>:first-child, .inner>.view>section>:first-child {
	margin-top: 0;
}

.inner h1 {
	font-family: robotothin;
	font-weight: normal;
	font-size: 1.5em;
}

.inner h2 {
	font-family: robotothin;
	font-weight: normal;
	font-size: 1.2em;
	margin: 20px 0 14px 0;
}

section {
	width: 100%;
	padding: 0;
	box-sizing: border-box;
}

.inner section dl, .inner section p, .inner section ul, .inner section ol {
	font-size: 0.7em;
}

main {
	box-sizing: border-box;
	height: 100%;
	flex: 1 1 auto;
	background-color: #181818;
	color: #ddd;
}

p.hidden {
	display: none;
}

p.status, p.warning {
	border: 1px solid rgba(255, 140, 0, 0.6);
	background-color: rgba(255, 140, 0, 0.2);
	padding: 4px;
	border-radius: 6px;
}

p.alert, p.error {
	border: 1px solid rgba(255, 0, 0, 0.6);
	background-color: rgba(255, 0, 0, 0.2);
}

p.success {
	border: 1px solid rgba(0, 255, 0, 0.6);
	background-color: rgba(0, 255, 0, 0.2);
}
