.nodepacks {
  list-style: none;
  margin: 0 -16px;
  padding: 0;
}

.nodepacks>li {
  display: block;
  margin: 0;
  padding: 16px;
  overflow: hidden;
}

.nodepacks>li:nth-child(odd) {
  background-color: #333;
}

.nodepacks h1 {
  margin: 12px 0 16px;
}

.nodepacks ul.nodes {
  display: flex;
  list-style: none;
  flex-direction: row;
  flex-wrap: wrap;
  box-shadow: none;
  background-image: none;
  background-color: inherit;
  margin: 0;
  padding: 0;
  font-size: 1em;
}

.nodepacks ul.details {
  margin: 4px;
  float: right;
  background-color: #222;
  padding: 6px;
  text-align: right;
  list-style: none;
}

.nodepacks ul.details li {
  display: block;
  margin: 0;
  padding: 0;
}

.nodepacks ul.nodes>li {
  flex-grow: 0;
  flex-shrink: 0;
  margin: 12px;
}

.nodepacks ul.nodes .node {
  position: static;
}

.nodepacks ul.nodes .node .io {
  overflow: auto;
}
