.xible > .edit {
  display: none;
  background-color: #181818;
  position: absolute;
  top: 0;
  left: 0;
  width: 500px;
  height: 100%;
  padding: 2px;
}

.xible > .edit.open {
  display: block;
}

.xible > .edit .node {
  position: static;
  transform: none !important;
  border: 0;
  width: 100%;
  height: 100%;
}

.xible > .edit .node .io {
  display: none;
}

.xible > .edit .node .content {
  height: 100%;
  overflow-y: auto;
}

.xible > .edit .node .content::-webkit-scrollbar {
  width: 4px;
  background-color: #000;
}

.xible > .edit .node .content::-webkit-scrollbar-thumb {
  width: 4px;
  background-color: #282828;
}

.xible > .edit .node .content::-webkit-scrollbar-thumb:hover {
  width: 4px;
  background-color: #383838;
}
