#sub {
  font-family: arial;
  box-shadow: inset 6px 0 6px -6px rgba(0, 0, 0, 1);
  width: 240px;
  box-sizing: border-box;
  overflow-x: hidden;
  overflow-y: auto;
  position: relative;
  padding: 10px 16px;
  height: 100%;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
}

#sub>* {
  flex-shrink: 0;
}

#sub section {
  position: relative;
  margin: 0;
  padding: 22px 0;
  overflow: hidden;
  box-sizing: border-box;
  border-bottom: 1px solid #282828;
  font-size: 0.6em;
}

#sub p {
  margin: 12px 5px;
  font-size: 0.6em;
}

#sub p:first-of-type {
  margin-bottom: 0;
}

#sub section:first-of-type {
  padding-top: 12px;
}

#sub section:last-child {
  border-bottom: none;
}

#sub section>h1 {
  box-sizing: border-box;
  padding: 8px 10px;
  color: #ddd;
  font-size: 1.2em;
  margin: 0;
}

#sub section>ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

#sub section>ul>li {
  margin: 0;
  padding: 2px 6px;
  font-weight: bold;
  color: #aaa;
}

#sub section>ul>li>a {
  padding: 4px;
  display: block;
  color: inherit;
  text-decoration: none;
  width: 100%;
  height: 100%;
  border-radius: 3px;
  box-sizing: border-box;
}

#sub section>ul>li>a:active, #sub section>ul>li>a.view {
  background-color: #272727;
  color: #ddd;
}

#sub section>ul>li>a:hover {
  background-color: #333;
  text-decoration: underline;
  color: #ddd;
}

#sub header {
  margin: 0;
}

#sub section.buttons {
  display: flex;
  flex-wrap: wrap;
}

#sub form {
  padding: 6px 10px;
}

#sub input {
  font-size: 1.2em;
}

#sub dl {
 margin: 0;
 padding: 0;
}

#sub dt, #sub dd {
  padding: 6px 10px;
  margin-left: 0;
}

.buttons button {
  box-sizing: border-box;
  -webkit-appearance: none;
  appearance: none;
  color: #fff;
  font-weight: bold;
  font-family: inherit;
  border: 2px solid transparent;
  background-color: #282828;
  padding: 10px 0;
  cursor: pointer;
  display: block;
  border-radius: 4px;
  margin: 10px;
  min-width: 30%;
  flex: 1 1 0;
  text-align: center;
}

.buttons button:hover {
  background-color: #383838;
}

.buttons button:active,
.buttons button:focus {
  outline: 0;
  border: 2px solid #45679E;
}

.buttons button:disabled {
  cursor: default;
  border: 2px solid #282828;
  background-color: #181818;
  color: #585858;
}

@media (max-height: 820px) and (min-height: 1px) {
  #sub section {
    padding: 10px 0;
  }

  .buttons button {
    padding: 8px 0;
    margin: 6px 10px;
  }
}

@media (max-width: 1023px) and (min-width: 1px) {
  #sub {
    width: 180px;
  }
}

#sub .tablist {
  list-style: none;
  margin: 0;
  padding: 0;
  font-size: 0.6em;
  display: flex;
  flex-direction: row;
}

#sub .tablist li {
  border-left: 1px solid #000;
  position: relative;
}

#sub .tablist li:not(.open):hover {
  background-image: linear-gradient(to top, #282828, transparent 80%);
}

#sub .tablist li.open {
  background-color: #45679E;
  z-index: 1;
}

#sub .tablist li.open:hover {
  background-color: #5b7cb3;
}

#sub .tablist li.open::before {
  content: "";
  width: 11px;
  height: 11px;
  background-color: inherit;
  position: absolute;
  left: 50%;
  bottom: -8px;
  transform: rotate(45deg) translatex(-50%);
}

#sub .tablist a {
  display: block;
  padding: 12px 8px;
  text-overflow: ellipsis;
  white-space: nowrap;
  height: 100%;
  text-decoration: none;
}
